node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
*.terraform.lock.hcl
.env
cloud-sql-proxy
*.pyc

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*local_test.py
